# Rust
target/
**/*.rs.bk

# Anchor
.anchor/
test-ledger/

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Foundry
evm/out/
evm/cache/

# Environment
.env
.env.*

evm/broadcast/

evm/script/verification-keys.json
